h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px #D1C4E9;
}

@media only screen and (min-width: 576px) {
    .row-content {
        min-height: 400px;
    }
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

.jumbotron-dark {
    background-color: #cfd7df !important;
}

.btn-reserve {
    padding: 10px 30px 10px 30px;
}

#reserve .card-header {
    color: #fff;
    background-color: #fdc02f;
}